@model StoreApp.Models.Material

@{
    ViewBag.Title = "Удаление материала";
}

<h2>Удаление материала</h2>

<h3>Вы уверены, что хотите удалить указанный материал?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Наименование
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку материалов", "Index")
        </div>
    }
</div>
