
@{
    ViewBag.Title = "Домашняя страница";
}

<div class="jumbotron">
    <h1>Складкской учет</h1>
    <h2>Приложение для упраления списком материалов на складе и изготавления деталей</h2>
    <p>Для управления материалами, деталями и изделиями необходимо перейти в соответсвующий раздел главного меню</p>
</div>