@*@model IEnumerable<StoreApp.Models.StatisticsViewModel>*@
@{
    ViewBag.Title = "Статистика";
}

@section styles{
    @Styles.Render("~/statistics/css")
}

<h2>Статистика</h2>

<div ng-app="productsApp" ng-controller="ProductsCtrl">
    <button class="btn btn-default" ng-click="updateProductsList()">
        <span class="glyphicon glyphicon-refresh"></span> &nbsp;Обновить список
    </button>

    <button class="btn btn-default" ng-click="makeProduct()" ng-disabled="!isEnableMakeButton()">
        <span class="glyphicon glyphicon-new-window"></span> &nbsp;Изготовить деталь
    </button>

    <table id="productsList" class="table table-striped">
        <thead>
            <tr>
                <th>Наименование продукта</th>
                <th>Доступное количество</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in model.products" ng-click='selectProduct(product)' ng-class="{'selected': product.productId === model.selectedProduct.productId}" )>
                <td ng-bind="product.productName"></td>
                <td ng-bind="product.count"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    Для изготовления детали выберите ее из списка и нажмите на кнопку <i>Изготовить деталь</i>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="waiter" ng-show="model.isLoading">
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only"></span>
            </div>
        </div>
    </div>
</div>



@section scripts{
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/statistics")
}