@model IEnumerable<StoreApp.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Список изделий</h2>

<p>
    @Html.ActionLink("Добавить новый продукт", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Наименование
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Редактирвать", "Edit", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>