@model IEnumerable<StoreApp.Models.Product>

@{
    ViewBag.Title = "Список изделий";
}

<h2>Список изделий</h2>

<p>
    @Html.ActionLink("Добавить новый продукт", "Create")
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td class="right-aligh">
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>